// .banner{
//     display: flex;
//     height: 590px;
//     background-color: #105B60;
//     border-radius: 49px;
//     justify-content: space-between;

//     &-row{
//         width: 50%;
//     }

//     &-img{
//          width: 40%;
//          height: 591px;
//          display: block;

//      }


//     &-title{
//         font-size: 71px;
//         font-weight: 400;
//         line-height: 71px;
//         letter-spacing: 0%;
//         color: #FFFFFF;
//         padding-top: 90px;
//         padding-left: 60px;
//         width: 754px;
//     }
//     &-text2{
//         color: #EAEBEC;
//         width: 580px;
//         height: 84px;
//         margin-left: 50px;
//         padding-top: 50px;

//     }
//     &-btn{
//         width: 186px;
//         height:  55px;
//         border-radius: 50px;
//         background-color: #FFFFFF;
//         color: #105B60;
//         border: none;
//         margin-left: 60px;
//         margin-top: 80px;
//         position: absolute;

//         &:hover {
//             background: #00a6a6;
//             color: #fff;
//         }
//     }

// }




// @media screen and (max-width: 1200px) {
//     .banner{

//             height: 453px;
//             border-radius: 30px;


//         .banner-img{
//             width: 420px;
//             height: 453px;  
//             margin-top: 0px;
//         }

//         .banner-text1{
//             font-size: 52px;
//             width: 600px;
//             height: 99px;
//             position: absolute;
//             margin-top: -60px;
//             margin-left: -18px;
//         }
//         .banner-text2{
//             width: 511px;
//             height: 32px;
//             margin-top: 212px;
//             position: absolute;
//             margin-left: 42px;

//         }
//         .banner-btn{
//             width: 99px;
//             height: 30px;
//             margin-top: 380px;
//             margin-left: 42px;
//         }
//     }
// }

// @media screen and (max-width: 992px) {

//     .banner{
//         height: 415px;


//     .banner-text1{
//         width: 450px;
//     }

//     .banner-text2{
//         width: 400px;
//         margin-top: 200px;
//     }
//     .banner-img{
//         width: 42%;
//         height: 415px;
//     }
//     .banner-btn{
//         margin-top: 365px;
//     }
//  }
// }

// @media screen and (max-width: 768px) {
//     .banner{
//         background-image: url('https://s3-alpha-sig.figma.com/img/02ce/2bb1/6166f207c7c31b5bdd746a128d5c665b?Expires=1742774400&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=GQXzXdNPXdftOdlKw3tzd8C6X5VgZgdrMRqyHjV3tTOstRn1Wr7aF2w8014FIoYczC~j7Y6L79GY5yVX3no~RTzRJhplVzSdAv6tBeRzZL9~mOYkpIQGDl0NixcgOY-wXQcKuawbiGHR7Oi-gR4Pjmw~iI2VLL8~1u0DmIcEjgm7L8FFytvqUYyXLfQI8uBbUD26zk1pj2o1A7AHAK6sfL~JEXuQTOycCx1ciqjCrgbmQA3j6ZX3ejKB51yWL67zyu33rEUEBDNwN9WbM2xcn-HIhJ6uCfEuC6QTrlQXSxRKwIfe-ZCCzRO6uImYjpEpNK-eico6vsgLldA-WrUzpg__');
//         .banner-img{
//             display: none;
//         align-items: center;

//         }

//     }
// }

// @media screen and (max-width: 515px) {

//     .banner{
//         height: 780px;

//         .banner-img{
//             width: 0;
//         }
//         .banner-text1{
//             font-size: 40px;
//             margin-top: 40px;
//         }
//         .banner-text2{
//           width: 70%;
//           margin-top: 300px;
//           font-size: 23px;
//         }
//         .banner-btn{
//         display: none;

//         }
//     }
// }


// @media screen and (max-width: 485px) {
//      .banner{

//         .banner-text1{
//             width: 100%;
//             font-size: 40px;
//         }

//         .banner-text2{
//             padding-top: 120px;
//         }
//      }
// }

// @media screen and (max-width: 353px) {
//     .banner{

//         .banner-text1{
//             font-size: 35px;
//         }
//         .banner-text2{
//             font-size: 20px;
//         }
//     }
// }


.banner_row {
    display: flex;
    min-height: 590px;
    background-color: #105B60;
    border-radius: 37px;
    align-items: center;

    .banner_text {
        width: 50%;
        color: #fff;
        padding: 150px 25px 100px 45px;

        &_title {
            font-family: Kino;
            font-weight: 400;
            font-size: 46px;
        }

        &_description {
            font-family: SF Pro Display;
            font-weight: 400;
            font-size: 18px;
            margin: 25px 0 35px 0;
        }

        &_btn {
            font-family: SF Pro Display;
            font-weight: 400;
            font-size: 18px;
            color: #105B60;
            background: #fff;
            padding: 11px 24px;
            border-radius: 37px;
            border: none;
        }
    }

    .banner_img {
        width: 50%;
        max-height: 596px;
        height: 100%;
        border-top-left-radius: 380px;
        border-top-right-radius: 37px;
        border-bottom-right-radius: 37px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            min-width: 100%;
            min-height: 100%;
            max-width: none;
            max-height: none;
            width: auto;
            height: auto;
            object-fit: fill;
            display: block;
        }
    }
}