.headerNav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    // gap: 30px;
    justify-content: space-between;
    width: 100%;

    &_link {
        text-decoration: none;
        color: #105B60;
        font-weight: 500;
        font-size: clamp(10px, 4vw, 15px);
        white-space: nowrap;
        transition: color 0.3s ease;
        // margin: 0 10px;

    }
}
